include README.md
include README.rst
include HISTORY.rst
include requirements.txt
include AUTHORS.rst
include LICENSE
include MANIFEST.in
recursive-include scrapple/templates *
recursive-include scrapple/commands *
recursive-include docs *
prune docs/build
